body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    height:300px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 10px;
}

select,
input[type="text"],
input[type="datetime-local"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #45a049;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    flex-grow: 1;
}

.navbar-right {
    flex-grow: 1;
    text-align: right;
}

.profile-btn, .login-signup-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 45%; /* Adjust width as needed */
}

.choice-btn:hover {
    background-color: #45a049;
}

button.profile-btn:hover, button.login-signup-btn:hover {
    background-color: #333;
}
